<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="orvisoft_productbundles" id="orvisoft_productbundles">
			<module before="Magento_Backend" name="OrviSoft_ProductBundles"/>
		</route>
	</router>
</config>
